* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    background-color: grey;
    font-size: 10px;
    font-family: 'TimesNewRoman', sans-serif;
}

h1{
    font-size: 2em;
    font-family: 'TimesNewRoman', sans-serif;
    margin: 0 auto;
    padding: 0.1em 0;
    text-align: left;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
  }

h2{
    font-size: 1.2em;
    font-family: 'TimesNewRoman', sans-serif;
    margin: 0 auto;
    padding: 0.1em 0;
    text-align: left;
    background-image: url("../images/symbol.png");
    background-size: 35px 35px;
    padding-left: 50px;
    padding-top:15px;
    background-position: left;
    background-repeat: no-repeat;
}

h3{
    font-size: 1.5em;
    font-family: 'Times', sans-serif;
    margin: 0 auto;
    padding: 0.1em 0;
    text-align: center;
}


body{
    min-width: 400px;
    width: 825px;
    height: 1167px;
    margin: 0 auto;  
    background-image:
        linear-gradient(to right, #b3d1ff, #b3d1ff 25%, white 40%, white), 
        linear-gradient(to right, lightgray, lightgray);
    background-repeat:no-repeat;
    background-position:
        0 0,
        0 1089px;
    background-size:
         825px 1087px,
         825px 80px;
    border: 1px solid black;   
    padding:50px;
}

main, header{
   width:100%;
   font-size:1.6em;
}

.footer{
   width:750px;
   height:70px;
   font-size:1.2em;
   padding-top:20px;
    position: absolute;
    top: 1100px;
}

/*-------------------GRID*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row{
   padding-bottom:5px;
}

    .col-0 {width: 0;visibility:hidden;}
    .col-0-v {width: 0;visibility:visible;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .row-0 {width: 0;display:none;}

@media only screen and (max-device-width: 600px) {
    /* For mobile phones: */
    body{
        width:100%;
        height:auto;
        background-color: white;
        background-image: none;
    }

    [class*="col-"] {
        width:100%;
        height:auto;
        margin-bottom:10px;
    }
    .col-m-4 {width: 33.33%;}
    .col-m-8 {width: 66.66%;}

    .footerM{
        width:auto;
        height:auto;
        position: relative;
        top:0;
        }
    }


@media only screen and (max-width: 600px) {
    /* For mobile phones: */
     body{
        width:100%;
        height:auto;
        background-color: white;
        background-image: none;
    }
    [class*="col-"] {
        width:100%;
        height:auto;
        margin-bottom:10px;
    }
    .col-m-4 {width: 33.33%;}
    .col-m-8 {width: 66.66%;}

    .footerM{
        width:auto;
        height:auto;
        position: relative;
        top:0;
        }
}

/*-------------------ŻEBY SIE POPRAWNIE DRUKOWALO Z BACKGROUNDAMI*/
@media print {
      body {-webkit-print-color-adjust: exact;}
}


[class*="col-"] {
    float: left;
    padding-left:10px;
}

.lewa{
   float:left;
}

.prawa{
   float:right;
}

#nazwisko{
   text-align:justify;
   padding-left:20px;
   padding-bottom: 20px;
}

#dane-osobowe-1 {
   padding-left:20px;
}

/*-------------------STYLE DLA TEL I MAILA W DANYCH OSOBOWYCH*/
header a{
   color:black;
   text-decoration:none;
   }
   
header a:hover{
   background-color:lightgrey;
   text-decoration:underline;
}

/*-------------------PASEK ODDZIELAJACY SEKCJE*/
.oddzielacz {
   height:10px;
   width:100%;
   background-image: linear-gradient(to right bottom, #000066, #0000cc 30%, white 80%, white);
}

/*-------------------LISTY*/
.lista-bez ul li, .lista-bez ul{
   list-style-type: none;
   padding:0;
   padding-top:4px;
   } 
   
ul {
   list-style-type: disc;
   padding-left:25px;
   padding-top:5px;
   }
   
/*-------------------PASEK ODDZIELAJACY SKILLE*/
[class*="pasek-"] {
   height:6px;
   width:100%;
}

.pasek-podstawowy {
   background-image: linear-gradient(to right, #06860d, #3a9319 25%, white 30%, white);
}

.pasek-sredni {
   background-image: linear-gradient(to right, #06640d, #2a6d12 50%, white 55%, white);
}

.pasek-zaawansowany {
    background-image: linear-gradient(to right, #06460d, #295511 75%, white 80%, white);
}

